nav{
    background: #333;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav li{
    position: relative;
}
nav a{
    display: block;
    padding: 14px 20px;
    color:white;
    text-decoration: none;
}
nav a:hover{
    background: #ddd;
    color:black;
}

/* DROPDOWN */
.menu{
    display: none;
    position:absolute;
    background:#333;
    min-width:150px;
}
.dropdown:hover .menu{
    display:block;
}
.menu a{
    padding: 14px 24px;
}