body{
    margin:0;
    padding:0;
}

#background{
    width:100%;
    height:100%;
    background-image: url(background.jpg);
    animation: blur 10s infinite;
}

#slike{
    position:absolute;
    background-color: burlywood;
    width:700px;
    height: 600px;
    top:10%;
    left:30%;
    animation: fadein 2s 0s;
}

img{
    width:500px;
    height:400px;
    position:inherit;
    top:5%;
    left:14%;
}

#tabele{
    position:absolute;
    background-color: burlywood;
    width:700px;
    height:100px;
    top:80%;
    left:30%;
    animation: fadein 2s 0s;
}

table{
    position: absolute;
    width: 700px;
    height:100px;
    top:0%;
    left: 0%;
}

img:nth-child(1){
    animation: slider 16s 2s infinite;
    z-index: 4;
}
img:nth-child(2){
    animation: slider 16s 6s infinite;
    z-index: 3;
}
img:nth-child(3){
    animation: slider 16s 10s infinite;
    z-index: 2;
}
img:nth-child(4){
    animation: slider 16s 14s infinite;
    z-index: 1;
}

table:nth-child(1){
    animation: slider 16s 2s infinite;
    z-index: 4;
}
table:nth-child(2){
    animation: slider 16s 6s infinite;
    z-index: 3;
}
table:nth-child(3){
    animation: slider 16s 10s infinite;
    z-index: 2;
}
table:nth-child(4){
    animation: slider 16s 14s infinite;
    z-index: 1;
}

@keyframes fadein{
    0%{transform: translateY(-1000px);}
    80%{transform:translateY(0%);}
    100%{transform:translateY(0%);}
}

@keyframes slider{
    0%{opacity: 0; transform: scale(1);}
    5%{opacity: 1; transform:scale(1.1);}
    25%{opacity: 1;transform:scale(1);}
    30%{opacity: 0; }
    100%{opacity: 0;}
}

@keyframes blur{
    0%{filter: blur(0px);}
    50%{filter: blur(5px);}
    100%{filter: blur(0px);}
}