body{
    margin:0;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: white;
    font-family: "Comic Sans MS";
    background-attachment: fixed;
}

.introduction{
    height:100%;
}

.uvod{
    text-align: center;
    text-shadow: 0 0 20px black;
    font-size: 40px;
}

/*Slike*/
.images{
    position:absolute;
    width:100%;
    height:78%;
    text-align: center;
    top:20%;
    background-color: wheat;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px wheat;
}

#text{
    display:flex;
    justify-content: space-between;
    margin-left:8%;
    margin-right: 10%;
}

#img1 img{
    position:absolute;
    width: 25%;
    height: 80%;
    left:15;
    bottom: 20;
    box-shadow: 0 0 15px 15px white;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    margin-left: 3%;
}
#img1 img:hover{    
    transform: scale(1.1);
}

#img2 img{
    position:absolute;
    width: 25%;
    height: 80%;
    left:38%;
    bottom: 20;
    box-shadow: 0 0 15px 15px white;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}
#img2 img:hover{
    transform: scale(1.1);
}
#img3 img{
    position:absolute;
    width: 25%;
    height: 80%;
    right: 15;
    bottom: 20;
    box-shadow: 0 0 15px 15px white;
    border-radius: 5px;
    transition: transform 0.3s ease-in;
    margin-right: 3%;
}
#img3 img:hover{
    transform:scale(1.1);
}

.trex{
    background-color: rgb(29, 33, 33);
    width:100%;
    height:100%;
}

.trex{
    display:flex;
    justify-content: space-between;
    gap: 20px;
    
}

.trex img{
    width: 512px;
    height: 512px;
    border-radius: 100%;
}

#line{
    width:40px;
    height:80%;
    background-color:white;
}

.trex p{
    font-size: 26px;
}

html{
    scroll-behavior: smooth;
}