body{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
}

nav{background-color:#333;}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:right;
}

#pocetna{
    top:0;
    left:0;
    position: absolute;
}

li{display:inline-block;}

li a{
    display:block;
    color:white;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover{
    background-color: #ddd;
    color:black;
}

.dropdown .dropd{
    background-color: #333;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border:none;
}

.dropdown:hover .dropd{
    background-color:#ddd;
    color:black;
}

.dropdown-menu{
    display:none;
    position:absolute;
    background-color:#333;
    width: 100px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    right:0;
    z-index:1;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

